{% extends "layout.html" %} {%block body %}
<h2 class="margin-1" style="text-align: center">Şablonu Yükle</h2>
<div class="row justify-content-center">
  <div class="col-6">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-warning" style="text-align: center">
      <strong>Uyarı!&nbsp;</strong>{{message}}
    </div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
</div>
<form method="post" action="/uploadTemplate" enctype="multipart/form-data">
  <dl>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xs-12">
        <div class="imgUp">
          <div class="imagePreview"></div>
          <label class="btn btn-secondary">
            <i class="fas fa-image"></i>&nbsp;Şablonu Seç<input
              type="file"
              class="uploadFile img"
              style="width: 0px; height: 0px; overflow: hidden"
              name="file"
            />
          </label>
        </div>
      </div>
    </div>
  </dl>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-success">
      <i class="fas fa-cloud-upload-alt"></i>&nbsp;Yükle
    </button>
  </div>
</form>
{% endblock %}
